.category-container {
  padding: 1.5rem 0;
  border-top: 1px solid var(--mf-c-grayLight);

  &:first-child {
    padding-top: 0;
    border: none;
  }
}

.category {
  margin: 0;
  padding-bottom: 1rem;
  color: var(--mf-c-gray-s1);
  font-weight: 400;
  font-size: var(--mf-font-u2);
  font-family: var(--mf-font-family);
  text-transform: capitalize;
}

.tagline {
  margin: 0.25rem 0 0 0;
  color: var(--mf-c-gray);
}
